<div class="multiselect">
     <div class="multiselect-labels">
          <span class="label label-default multiselect-labels-lg"ng-repeat="element in msModel">
          <span ng-bind-html="config.labelTemplate(element)"></span>
          <a href="" ng-click="$event.preventDefault(); multiselect.deleteSelected($index)" title="Remove element">
               <i class="fa fa-times"></i>
          </a>
          </span>
     </div>
     <input ng-show="multiselect.options.length > 0" placeholder="{{attrs.placeholder}}" type="text" class="form-control" ng-model="multiselect.filter" ng-focus="multiselect.focusFilter()" ng-blur="multiselect.blurFilter()" />
     <div ng-show="msModel.length < multiselect.options.length &amp;&amp; multiselect.options.length === 0 &amp;&amp; !multiselect.options.$resolved"><em>Loading...</em></div>
     <ul class="dropdown-menu" role="menu" ng-show="multiselect.displayDropdown &amp;&amp; multiselect.options.length > 0">
          <li ng-repeat="element in multiselect.filtered = (multiselect.options | filter:multiselect.filter) track by $index" role="presentation" ng-class="{active: $index == multiselect.currentElement}">
               <a href="" role="menuitem" ng-click="$event.preventDefault(); multiselect.selectElement($index)" ng-bind-html="config.itemTemplate(element)"></a>
          </li>
     </ul>
</div>